.africa {
    color: darkblue;
}

.americas {
    color: darkgreen;
}

.asia {
    color: darkred;
}

.europe {
    color: lightyellow;
}

.oceania {
    color: mediumpurple;
}

.anywhere {
    color: darkorange;
}

.wrapper-img-header > img {
    max-width: 100%;
}

.wrapper-img-header {
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: lightgrey;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    max-width: 275px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper-img > img {
    max-width: 100%;
}

.wrapper-img {
    max-width: 50px;
    max-height: 50px;
    border: 2px dashed red;
    margin-right: 10px;
}