.africa {
    color: lightblue;
}

.americas {
    color: lightgreen;
}

.asia {
    color: darkred;
}

.europe {
    color: lightyellow;
}

.oceania {
    color: mediumpurple;
}

.anywhere {
    color: darkorange;
}